body {
      font-family: Helvetica;
      text-align: center;
}

.hero {
	 background-image: url("../images/building.png");
     background-size: 100% 100%;
}

h1 {
	font-size: 70px;
	font-weight: bold;
	color: white;
}

#home, #process, #work, #team, #contact {
	font-size: 18px;
	font-weight: bold;
	list-style: none;
	color: black;
}

a:link {
	color: white;
}

.black a:link {
	color: black;
	text-decoration: none;
}

h2 {
	font-size: 32px;
	font-weight: bold;
}

h3 {
	font-size: 23px;
	font-weight: bold;
}

p {
	font-size: 14px
}

.mid {
	background-image: url("../images/building.png");
	background-size: cover;
	color: white;
}

/* contact info */

.black {
	color: black;
}

/* footer and bottom navigation */

footer {
	color: white;
	background-color: dimgray;
	background-size: cover;
	color: white;
	font-size: 11px;
}

#home1, #process1, #work1, #team1, #contact1, #copy {
	list-style: none;
	display: inline;
	text-align: left;
} 


