body {
      font-family: Helvetica;
}

.hero {
	 background-image: url("../images/building.png");
     background-size: 100% 100%;
     text-align: center;
}

h1 {
	font-size: 70px;
	font-weight: bold;
	color: white;
}

#home, #process, #work, #team, #contact {
	font-size: 18px;
	list-style: none;
	color: black;
}

a:link {
	color: white;
}